.login-container {
   margin: 0 auto;
   //    display: flex;
   //    flex-direction: column;
   //    align-items: flex-start;
   .title {
      color: #161823;
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      margin: 16px 0px;
      text-align: center;
   }
   .desc {
      color: #161823;
      font-size: 15px;
      font-weight: 600;

      line-height: 22.5px;
      margin-bottom: 5px;
   }
   .login-input {
      border: 1px solid #ccc;
      caret-color: rgba(254, 44, 85, 1);
      opacity: 0.8;
      width: 100%;
      background-color: rgba(22, 24, 35, 0.06);
      border-radius: 2px;
      color: #161823;
      display: inline-block;
      padding: 10px 12px;
      margin: 8px 0;
      border-radius: 2px;
   }
   .btn-login {
      font-size: 16px;
      width: 100%;
      margin-top: 42px;
      padding: 10px 12px;
      border-radius: 4px;
      color: rgba(255, 255, 255, 1);
      background-color: #ccc;
      &.active {
         transition: 0.5s;
         background-color: rgba(254, 44, 85, 1);
      }
   }
   button[disabled="disabled"],
   button:disabled {
      cursor: not-allowed;
   }
   .btn-back {
      margin: 40px auto;
      text-align: center;
      background-color: transparent;
   }
   .login-password {
      position: relative;
      top: 0;
      right: 0;
      i {
         cursor: pointer;
         position: absolute;
         top: 50%;
         right: 5%;
         transform: translateY(-50%);
      }
   }
}
input,
button {
   border: none;
   outline: none;
}
